@inject IJSRuntime _ijsr

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent is not null)
        {
            <span>@ChildContent</span>
        }
        else
        {
            <span>Hello, from empty render fragment</span>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be clicked</button>

    <GrandChildComponent />
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnButtonClick { get; set; }

    public async Task ToastrSuccess()
    {
        // returns a bool since this is a confirmation box, its eiter confirm (true) otherwise false
        await _ijsr.ToastrSuccess("It's a success");
    }

}