@page "/counter"
@rendermode InteractiveAuto

@inject IState<CounterState> counterState
@inject IDispatcher dispatcher

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counterState.Value.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        dispatcher.Dispatch(new CounterIncremented());
    }
}
