@inherits LayoutComponentBase

<Fluxor.Blazor.Web.StoreInitializer @rendermode="(new InteractiveAutoRenderMode(prerender: false))" />
<ClientNavMenu @rendermode="(new InteractiveAutoRenderMode(prerender: false))" />
<div class="content px-4">
    @Body
</div>
